version: '2'

services:
  rethinkdb:
    image: rethinkdb
    ports:
      - "58080:8080"
      - "28015"
    volumes:
      - /data

  bigchaindb:
    image: joseph/bigchaindb:develop
    volumes:
      - ./data/bigchaindb:/root/.bigchaindb_docker
    links:
      - rethinkdb
    environment:
      BIGCHAIN_DATABASE_HOST: rethinkdb
      BIGCHAINDB_CONFIG_PATH: /root/.bigchaindb_docker/config
